<ul class="text-sm mt-1">
  <li
    class="flex items-center gap-2"
    [class.text-green-600]="!forbiddenCapital()"
    [class.text-red-500]="forbiddenCapital()"
  >
    <span>
      {{ forbiddenCapital() ? "✗" : "✓" }}
    </span>
    At least one uppercase letter
  </li>
  <li
    class="flex items-center gap-2"
    [class.text-green-600]="!forbiddenCommon()"
    [class.text-red-500]="forbiddenCommon()"
  >
    <span>
      {{ forbiddenCommon() ? "✗" : "✓" }}
    </span>
    At least one lowercase letter
  </li>
  <li
    class="flex items-center gap-2"
    [class.text-green-600]="!forbiddenNumber()"
    [class.text-red-500]="forbiddenNumber()"
  >
    <span>
      {{ forbiddenNumber() ? "✗" : "✓" }}
    </span>
    At least one number
  </li>
  <li
    class="flex items-center gap-2"
    [class.text-green-600]="!forbiddenSpecial()"
    [class.text-red-500]="forbiddenSpecial()"
  >
    <span>
      {{ forbiddenSpecial() ? "✗" : "✓" }}
    </span>
    At least one special character
  </li>
</ul>
